.container {
    width: 1200px;
    height: 600px;
    padding: 25px;
    margin-left: 30px;
}

.heading {
    font-family: 'Spline Sans Mono', monospace;
    margin-left: 309px;
}
.box-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 400px;
    padding: 30px;
}

.desc {
    font-family: 'Spline Sans Mono', monospace;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: -20px;
}
.cart-wrapper {
    margin-left: 100px;
}
.card-img-top {
    padding: 20px;
}
.card-heading {
    font-family: 'Spline Sans Mono', monospace;
    text-align: center;
}
.card-text {
    font-family: 'Spline Sans Mono', monospace;
    text-align: center;
    margin-bottom: 40px;
}